$footer-height: 3.5rem;

// Header
$navbar-height: 7rem;
$header-background-color: rgba(221,153,51,0.75);
$navbar-background-color: transparent;
$navbar-item-color: #000000;
$navbar-item-hover-color: rgba(0, 0, 0, 0.6);
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: #b82601;

// Footer
$footer-background-color: #222222;
$footer-padding: 2rem 1.5rem 2.5rem;

// Layout
$content-width: 80%;
$max-content-width: 1200px;

// Divi Styles
$divi-button-color: #1e73be;
