.linkText {
    text-transform: uppercase;
    font-size: 18px;
    transition: color 0.25s ease-in-out;
}

.logo {
    margin-top: auto;
    margin-bottom: auto;
}

.header {
    background-color: $header-background-color;
}

.navigation {
    width: $content-width;
    max-width: $max-content-width;
    margin: auto;
}
